.DS_Store
*.log
.emacs.*
.lock
/build
/app/build

*.iws
*.ipr
*.iml
*.swp
/out
/.settings/
.idea

.classpath
.factorypath
.project
.settings
.gradle
.metadata
.apt_generated
/classes/
.nos
/src/dist/generated
